# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\high_school_winter_spring_becation\my_html_site_space\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
